<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionName="2019-05-10" package="net.erlenddahl.jetreader" android:versionCode="10">
	<uses-sdk android:targetSdkVersion="27" android:minSdkVersion="19" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<application android:label="JetReader" android:icon="@mipmap/ic_launcher"></application>
</manifest>